* {
    box-sizing: border-box;
}

body {
    /*height: 100%;
    margin: 100%;
    max-width: 100%;*/
    background-color: rgb(17, 18, 17);
}

header {
    background-image: url("../img/totoro.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 500px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    box-shadow: 5px 5px 5px rgb(199, 194, 194);
}

#me{
    box-shadow: 5px 5px 5px grey;
 }

h1 {
    padding: 15px;
    text-shadow: 2px 2px 10px purple;
}

h2 {
    padding: 50px;
    font-size: 50px;
    color: purple;
    text-shadow: 2px 2px 10px white;
}

.row {
    padding: 10px;
}
.card {
    border-radius: 10px;
    border: 10px solid rgb(248, 218, 142);
}
.card-title {
    clear:both;
    font-size: 25px;
    color: blueviolet;
    padding: 5px;
}

p.card-text{
    font-size: 17px;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

a.card-link {
    font-size: 14px;
    
}

.col-md-6{
    padding-top: 10px;
}

ul.card-text{
    font-size: 16px;
    color:orange;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
iframe {
    /*border: 5px solid white;*/
    border-radius: 10px;
    box-shadow: 2px 2px 2px white;
}
#nav img {
    border-bottom-left-radius: 50%;
    box-shadow: 0 0 1em rgb(175, 150, 207);    
    background-color: aliceblue;
}

.text {
    font-family: Impact, sans-serif;
    color: rgb(195, 151, 195);
    padding: 10px;
    font-size: 18px;
    
}
.row #nav{
padding-top: 40px;
}

#nav:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
  pointer-events: auto;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.footer {
    clear: both;
    padding: 200px;
    text-align: center;
    color: rgb(179, 161, 161);
    font-size: 14px;
    
}
